.image > img {
    height: 10vh;
    width: auto;
}
.accountcontainer {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.infocontainer {
    margin: 5vh;
    height: 55vh;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    flex-direction: column;
}
.emailedit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#email {
    width: 25vw;
}
.submitbutton{
    margin-top: 3vh;
}