.listing-profile-img {
  position: relative;
  height: 12vh;
  width: 12vw;
}

.rules {
  display: inline-block;
  flex-direction: column;
}
.rules-box {
  display: block;
  flex-direction: column;
}

.list-box {
  display: block;
}
